@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
}

@layer components {
}
@layer utilities {
  .font-cormorant-100 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    font-optical-sizing: auto;
  }
  .font-cormorant-100 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-optical-sizing: auto;
    letter-spacing: 0.05em;
    color: #faf6f0;
  }

  .font-cormorant-600 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-optical-sizing: auto;
  }
  .font-cormorant-700 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-optical-sizing: auto;
  }
}
