---
import { Image } from 'astro:assets';
import laas from '../assets/images/laas.png';
---

<header class="relative w-full p-4 md:p-6 bg-paper bg-repeat bg-center">
  <!-- Ingen overlay her, så headerens papirbaggrund er tydelig -->

  <!-- Logo -->
  <a href="/" class="relative z-10">
    <Image 
      src={laas} 
      alt="Logo" 
      class="h-10 md:h-16 w-auto transition-transform duration-300 hover:scale-115 hover:drop-shadow-lg"
    />
  </a>
</header>
